<!DOCTYPE html>
<html>
<head>
    <title>SimpleChat - Missing</title>

    <link rel="stylesheet" type="text/css" href="/static/css/oneplus.css">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>


    <style>
        /* This might be supported, if so, great */
        body{
            font-family:sans-serif;
        }
    </style>
</head>
<body>
<h1>SimpleChat</h1>

<p>Sorry, that chat is not valid or has been removed.</p>