<!DOCTYPE html>
<html>
<head>
    <title>SimpleChat</title>

    <link rel="stylesheet" type="text/css" href="/static/css/oneplus.css">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>


    <style>
        /* This might be supported, if so, great */
        body{
            font-family:sans-serif;
        }
    </style>
</head>
<body>
<h1>SimpleChat</h1>
<p>SimpleChat is a very very basic chat engine that should work perfectly on just about any device with a "web browser". I very specifically don't use any javascript or fancy styling. I'll add a simple API soon.</p>

<p>Feel free to send feedback to arbitraryuser@gmail.com</p>

<a href="/new/">New Chat</a>
</body>
</html>