<!DOCTYPE html>
<html>
<head>
    <title>SimpleChat</title>

    <link rel="stylesheet" type="text/css" href="/static/css/oneplus.css">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>


    <style>
        /* This might be supported, if so, great */
        body{
            font-family:sans-serif;
        }
    </style>
</head>
<body>
<h1>SimpleChat</h1>
<p>A very basic no-frills web chat system built to enable conversing with users on basic mobile phones.</p>

<a href="{% url 'new' %}">New Chat</a>

<br /><br />
<footer>
    <small>
        Powered by <a href="https://github.com/jonathanendersby/SimpleChat">SimpleChat</a>
        {% if party = 'a' %} - <a href="{% url 'json_chat' chat_id=c.party_a_id %}">JSON</a>{% endif %}
    </small>
</footer>
</body>
</html>